[Desktop Entry]
Type=Application
Name=pxtone collab
Comment=pxtone collab: multiplayer music editor
Exec=ptcollab %f
Icon=ptcollab
Categories=Audio;AudioVideo;AudioVideoEditing;
Keywords=ptcollab;music;chiptune;pxtone;
Terminal=false
