.wrapper {
  max-width:960px;
  min-width:350px;
  margin:auto;
}

header, section {
  background-color: #4E4B61;
  color: #9D9784;
  padding: 10px 20px;
}

header { margin: 0 0 20px 0; }

section {
  margin: 20px 0;
  border-radius:4px;
}

html,body {
  font-family:sans-serif;
  margin:0px;
  padding:0px;
  background-color:#202020;
}

h1,h2,h3,h4,h5,h6{
  text-transform:uppercase;
  margin:10px 0 15px 0;
}

.text {
  color: #00F080;
  background-color: #00003E;
  font-weight:bold;
  padding: 8px;
  border-radius:4px;
  margin-bottom:15px;
}

.text > p:first-child { margin-top:0; }
.text > p:last-child { margin-bottom:0; }

a { color: #D2CA9C; }
a:hover { color: #DED9BB; }

.download-list {
  display:flex;
  align-items:center;
  margin:25px 0;
}

.download-list > div img {
  max-width:150px;
  display:block;
  margin:auto;
}

.download-list > div {
  flex-grow:1;
  flex-shrink:1;
  text-align:center;
}
