.wrapper {
  max-width:960px;
  min-width:350px;
  margin:auto;
  box-sizing:border-box;
}

img { box-sizing: border-box; }
.screenshot { display:block; margin:5px auto; border:2px solid #202020; }
.screenshot img { margin:0 }
text img.screenshot { border:2px solid #00F080; }

header, section {
  background-color: #4E4B61;
  color: #9D9784;
  font-weight:bold;
  box-sizing:border-box;
}

header {
  margin: 0 0 20px 0;
}

section {
  padding: 10px 20px;
  margin: 20px 0;
  border-radius:4px;
}

html,body {
  font-family:sans-serif;
  margin:0px;
  padding:0px;
  background-color:#202020;
}

h1,h2,h3,h4,h5,h6{
  text-transform:uppercase;
  margin:10px 0 15px 0;
}

.text {
  font-weight:bold;
  color: #00F080;
  background-color: #00003E;
  padding: 8px;
  border-radius:4px;
  margin-bottom:15px;
}

.text > p:first-child { margin-top:0; }
.text > p:last-child { margin-bottom:0; }
.text > ul:last-child { margin-bottom:0; }
.text > ul:first-child { margin-top:0; }
.text > ol:last-child { margin-bottom:0; }
.text > ol:first-child { margin-top:0; }

a { color: #D2CA9C; }
a:hover { color: #DED9BB; }

.download-list {
  display:flex;
  align-items:center;
  margin:25px 0;
}

.download-list > div img {
  max-width:150px;
  display:block;
  margin:auto;
}

.download-list > div {
  flex-grow:1;
  flex-shrink:1;
  text-align:center;
}
