SideMenu QLabel, QTabWidget > QWidget { 
	font-weight:bold; 
}
QLineEdit, QTextEdit {
	background-color: #00003e; color: #00F080; font-weight: bold;
}
QLineEdit:disabled, QTextEdit:disabled {
	background-color: #343255; color: #9D9784;
}
QPushButton:disabled { 
	color: #9D9784;
}
